/**
 * The contents of this file are subject to the license and copyright
 * detailed in the LICENSE and NOTICE files at the root of the source
 * tree and available online at
 *
 * http://www.dspace.org/license/
 */

/**
 * You can put your own style in this file.
 * It will be included in all color schemes
 */

//example mixin to set the text-selection style
@mixin selection {
    ::-moz-selection { @content; }
    ::selection { @content; }
}

@include selection {
    color: white;
    background: hotpink;
}

#aspect_submission_StepTransformer_list_submit-project .ds-add-button {
    margin-top: 10px;
    min-width: 30%;
}

.upload-rioxx-version-warning {
    margin-left:0;
    @extend .alert;
    @extend .alert-info;

    h3 {
        margin-bottom: 15px;
        margin-top: 15px;
    }
}